body {
  margin: 20px;
  font-family: sans-serif;
}

/* Big container */
.container {
  position: relative; /* reference for absolute inside */
  width: 500px;
  height: 400px;
  border: 2px solid black;
  background-color: #f9f9f9;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
